html, body{
    margin: 0; padding: 0; outline: 0; border: 0;
}
ul,li{list-style: none;}
a{text-decoration: none;}
body{
    overflow-y: scroll;
    font-family:'Noto Sans KR', '맑은 고딕', 'Malgun Gothic', 돋움, Dotum, sans-serif;}
.cf:after{content:''; display:block; clear:both;}

/* 헤더 */    
#header{
    background-color: #005ad5;
    width: 100%;
    height: 80px;
    max-width: 100%;
    position: fixed;
    z-index: 50;
    top: 0;
}
#header h1{
    margin-left: 15px;
    display: block;
    position: absolute;
    top: 0px;
    left: 10px;
}
#header .menu{
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}


/* 네비게이션 */
#nav{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    z-index: 100;
    display: none;
}
#nav .top_logo{
    display: flex;
    position: absolute;
    left: 10px;
    top: 10px;
}
#nav .close_btn{
    position: absolute;
	right: 10px;
    top: 20px;
	z-index:55;
	display:flex;
	align-items:center;
	justify-content:center;
    cursor: pointer;
}
#nav .nav_bg{
    background-color: #005ad5;
    width: 80%;
    height: 100%;
    position: absolute;
	right: 0;
	width: 80%; height:100%;
    z-index:50;
}
#nav .menu_list{
    margin-top: 100px;
}
#nav .menu_list li a{
    display:block;
	font-size:2rem;
	line-height:5rem;
	text-align: left;
    color: #ffffff;
    font-weight: bold;
}
#nav .menu_list li a:hover{
    color: #ffb500;
}
#nav .nav_bg .menu_back{
    margin-left: 40px; 
}


#section{
    width: 100%;
    height: auto;
}

#section h2{
    font-size: 3rem;
    text-align: center;
    color: #005ad5;
    margin-top: 100px;
}#section p {
    text-align: center;
    margin-top: -20px;
    font-weight: bold;
}

#section  select{
    display: block;
    width: 300px; 
    padding: .8em .5em; 
    font-family: inherit;  
    background: url(../community_image/arrow_bottom.png) no-repeat 95% 50%; 
    border-radius: 0px; 
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    margin: 0 auto;
    outline: 0;
    margin-top: 20px;
}
#section .search{
    width: 300px;
    height: 35px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ffffff;
}

#section .search input{
    border: 0;
    outline: 0;
    padding: 10px 40px 0 0px;
    width: 180px;
    float: left;
    margin-left: 20px;
}
#section .search button{
    width: 50px;
    height: 100%;
    border: 0;
    background-color: #005ad5;
    color: #ffffff;
    outline: 0;
    float: right;
    border-radius: 20px;
    cursor: pointer;
}
#section .search button:hover{
    background-color: #6297e0;
}

/* 체크박스 */
#section .check{
    display: flex;
    justify-content: center;
}
#section .check label{
    margin-top: 20px;
}
input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 10px;
    vertical-align: middle;
    background: url(../finding_image/icon_radio.png) left top no-repeat;
    cursor: pointer;
    background-size: cover;
    vertical-align: middle;
}

input[type="checkbox"]:checked + label span {
    background:url(../finding_image/icon_radio_hover.png) top no-repeat;
     background-size: cover;
}

/* 매장정보 */
#section .store{
    width: 82%;
    height: 130px;
    background-color: #ebeaea;
    margin: 0 auto;
    margin-top: 50px;
    border-top: 2px solid #005ad5;
    cursor: pointer;
    position: relative;
}

#section .store h3{
    font-size: 1.0rem;
    margin-left: 10px;
    display: inline-block;
    width: 300px;
}
#section .store .location{
    margin-top: 10px;
    position: absolute;
    right: 10px;
}
#section .store p{
    font-size: 0.8rem;
    margin-left: -5px;
    padding-top: 10px;
    width: 350px;
}
#section .store span{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 0.8rem;
}

#section .store2{
    width: 82%;
    height: 130px;
    background-color: #ebeaea;
    margin: 0 auto;
    border-top: 1px solid #726d6d;
    cursor: pointer;
}
#section .store2 h3{
    font-size: 1.0rem;
    margin-left: 10px;
    display: inline-block;
    width: 300px;
}
#section .store2 .location{
    margin-top: 10px;
    position: absolute;
    right: 50px;
}
#section .store2 p{
    font-size: 0.8rem;
    margin-left: 10px;
    padding-top: 10px;
    width: 350px;
    text-align: left;
}
#section .store2 span{
    float: left;
    margin-top: 25px;
    margin-left: 10px;
    font-size: 0.8rem;
}


#section .number{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}
#section .number span{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    margin: 0 10px;
    display: inline-block;
    line-height: 30px;
    margin-top: 20px;
    border: transparent 1px solid;
    cursor: pointer;
}
#section .number .na{
    border: #005ad5 1px solid;
    color: #005ad5;
    background-color: #d9d9d9;
}
#section .number span:hover{
    border: #005ad5 1px solid;
    color: #005ad5;
    background-color: #d9d9d9;
}
#section .number span:last-child:hover{
    border: 1px solid transparent;
    color: none;
    background-color: transparent;
}
/* 푸터 */
#footer .footer1{
    width: 100%;
    height: 330px;
    background-color: #005ad5;
    text-align: center;
    color: #ffffff;
}
#footer .footer1 h1{
    padding-top: 10px;
}
#footer .footer1 p{
    font-size: 0.8rem;
}
#footer .footer1 address{
    font-style: normal;
    font-size: 0.8rem;
}
#footer .footer2{
    width: 100%;
    height: 80px;
    background-color: #ffb500;
    position: fixed;
    bottom: 0;
    z-index: 50;
}
#footer .footer2 .footer_icon{
	width:100%;
	display:flex;
	align-items:center;
	justify-content: space-around;
    margin-top: 2px;
}
#footer .footer2 .footer_icon li{
	width: 20%;
    height: 70px;
    margin-left: -30px;
}
#footer .footer2 .footer_icon li a{
	color:#ffffff;
}
#footer .footer2 .footer_icon li p{
    margin-top: -5px;
}
#footer .footer2 .footer_icon .community p{
    margin-left: -12px;
}