*{padding: 0; margin: 0; border: 0; outline: 0;}
.container{
    display: flex;
    background-color: #005ad5;
    height: 100vh;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;
}
.container h2, p{
    color: #ffffff;
}
.rotate_image{animation: rotate_image 5s linear infinite;}
@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}
.container p{
    margin-top: -30px;
}